* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: rgb(50, 175, 22);
  }
  
  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  #game div {
    border: 1px solid rgb(11, 11, 11);
    width: 20%;
    height: 75px;
    margin: 10px;
    display: inline-block;
    background-color: rgb(19, 19, 18);
  }
  
  .game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .color {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .notFlipped {
    background-color: rgb(220, 190, 144);
  }